

.blog-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .blog-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .blog-content p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .blog-content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .fetch{
    padding: 10px;
    color: aquamarine;
  }
  