:root {
    --isabelline: #f2efeaff;
    --coral: #fc7753ff;
    --tiffany-blue: #66d7d1ff;
    --english-violet: #403d58ff;
    --straw: #dbd56eff;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .contact-info {
    flex: 1;
    padding-right: 20px;
  }
  
  .contact-info h2 {
    margin-bottom: 10px;
  }

  h2{
    color: var(--coral);
  }
  
  .contact-form {
    flex: 1;
    padding-left: 20px;
  }
  
  .contact-form h2 {
    color: var(--coral);
    margin-bottom: 10px;
  }
  
  .contact-form form {
    display: grid;
    gap: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid var(--english-violet);
    border-radius: 5px;
  }
  
  .contact-form button {
    width: 93%;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 10px;
    background-color:var(--coral);
    color: var(--isabelline);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: rgb(206, 102, 73);
    color: var(--isabelline);
  }
  
  /* Add styling for social icons and email ids as needed */
  .avatar{
    font-family: "Manrope", sans-serif;
    color: var(--isabelline);
    font-weight: 700;
    width: max-content;
    margin-top: 5%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    line-height: 0%;
    /* padding: 100px; */
  }

  .a1, .a2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    /* background-color: aqua; */
    line-height: 0%;
  }

  img{
    -webkit-filter: invert(0);
    filter: invert(0);
  }

  a {
color: var(--isabelline); 
}

a:hover {
    color: var(--straw)  
}

span{
    color: var(--coral);
}